MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=teu-email@gmail.com
MAIL_PASSWORD=tua-password-de-aplicacao
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=teu-email@gmail.com
MAIL_FROM_NAME="Nome do Site"
MAIL_DESTINATARIO=teu-email@gmail.com
